@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	color: #555555;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#8ed9eb, #85f6b8);
}

.container {
	width: 25%;
	min-width: 300px;
	min-height: 450px;
	height: 70%;
	padding: 40px 40px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
}

.container > h1 {
	color: #555555;
	font-size: 28px;
	width: 100%;
	font-weight: 500;
	margin-bottom: 20px;
	text-align: center;
}
.container > h4 {
	text-align: center;
	width: 100%;
}

.container > p {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	margin-bottom: 15px;
	text-align: center;
}

.loginForm {
	padding-top: 20px;
	width: 100%;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 20px;
}

.form-group-question {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	margin: 20px 0;
	padding: 10px;
	box-sizing: border-box;
}

/* .form-group label {
	width: 100%;
} */

.form-group input[type='text'],
.form-group input[type='email'] {
	width: 100%;
	margin: 5px 0;
	padding: 10px;
	font-weight: 400;
	border: 1px solid #dddddd;
	box-sizing: border-box;
}

.form-group input[type='text'] .withError,
.form-group input[type='text'] .withError {
	border: 1px solid red;
}

.form-group-question:active,
.form-group-question:hover {
	border: 2px solid green;
	box-sizing: border-box;
}

.form-group-question input[type='radio'] {
	margin-right: 10px;
}

.form-group-question input:checked,
.form-group-question input:hover {
	color: green;
	border: green;
}

.form-validate {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-validate button {
	background-color: #028a3d;
	padding: 10px 20px;
	color: #ffffff;
	border: 1px solid #028a3d;
	box-shadow: 0px 0px 5px gray;
}

.error-log {
	color: red;
	font-size: 10px;
	display: none;
}

.progression {
	padding-top: 20px;
	width: 100%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.progress-detail {
	display: flex;
	justify-content: space-between;
}

.progress-detail p {
	font-size: 12px;
	font-weight: 300;
}

progress {
	width: 100%;
	color: green;
	/* background: green;  */
	height: 6px;
	border-radius: 5px;
}

.progress-bar {
	border-radius: 2px;
}

.question-bloc {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question-detail {
	width: 100%;
}

.result {
	gap: 10px;
	align-items: center;
}

.name-result {
	margin-bottom: 20px;
}

.email-result {
	font-weight: 300;
	margin-bottom: 20px;
}

.circle-success {
	width: 80px;
	height: 80px;
	border: 7px solid green;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-fail {
	width: 80px;
	height: 80px;
	border: 7px solid #ff3838;
	border-radius: 100px;
	font-size: 50px;
	color: #ff3838;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-success img,
.circle-fail img {
	width: 80%;
}
.btn-to-home {
	padding: 10px 40px;
	color: #ffffff;
	border: 1px solid #0880d6;
	box-shadow: 0px 0px 5px gray;
	background-color: #0880d6;
	text-decoration: none;
}

.form-validate .next {
	background-color: #028a3d6b;
	border: 1px solid #028a3d6b;
	box-shadow: 0px 0px 5px gray;
	color: #ffffff;
	padding: 10px 20px;
	margin: 5px;
	box-sizing: border-box;
	font-size: 12px;
	width: 120px;
}

.form-validate .exit {
	background-color: #ec880c;
	border: 1px solid #ec880c;
	box-shadow: 0px 0px 5px gray;
	color: #ffffff;
	padding: 10px 30px;
	margin: 5px;
	box-sizing: border-box;
	font-size: 12px;
	text-decoration: none;
	width: 120px;
}
